body
{
}

#bandeau 
{
text-align:center;
width:auto;
height:auto;
margin-left: 23%;
margin-right: 20%;
color:silver;
font-size:50px;
font-family: courier new;
padding: 30px 0px 30px 0px;
}

#menu
{
text-align:center;
background-color: silver;
border-bottom: solid 4px black;
border-top: solid 4px black;
font-size:30px;
padding: 10px 10px 10px 10px;	
}

#menu ul li 
{
text-align:center;
margin-left: 10px;
margin-right: 10px;
display: inline-block;
}

.titre_paragraphe
{
color: green;
font-size: 20px;
font-style: italic;
}

#texte
{
text-align:center;
}

.imageflottante
{
float: center;
border: 3px black groove;
}


#footer
{
font-family: courier new;
color: silver;
text-align:center;
border-top: solid 4px black;
margin-top: 150px;
}

th
{
background-color: olive;
}

input[type=submit]
{
width:100px;
box-shadow:1px 1px 2px #C0C0C0 inset;
cursor:pointer;
background-color:#FFF3F3;
padding:3px;
border:1px solid #F5C5C5;
border-radius:5px;
margin-left:740px;
box-shadow:1px 1px 2px #C0C0C0 inset;
}


input[type=text]
{
 background-color:#FFF3F3;
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:400px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
}


input[type=password]
{
 background-color:#FFF3F3;
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:400px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
}

fieldset 
{
padding:0 20px 20px 20px;
margin-bottom:10px;
margin-top:10px;
margin-left:10px;
margin-right:10px;
border:1px solid #DF3F3F;
background-color:#FAFAFA;
padding-left: 500px;
padding-right: 300px;
}


